.Menu {
    width: 240px;
    background: @--color-black20;
}

.Menu-btnGroup {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.Menu-btnGroup-item {
    width: 100%;
    min-height: 20px;
}

.Menu-btn {
    height: 44px;
    line-height: 44px;
    padding: 0px;
    text-align: center;
    background: transparent;
    color: @--color-white10;
    border:none;
    border-bottom: 1px solid @--color-black10;
    border-top: 1px solid @--color-black30;
    text-transform: uppercase;
    font-size:13px;
    letter-spacing: 1px;
}
