.Menu {
    width: 240px;
    background: @--color-black15;
    -webkit-font-smoothing: subpixel-antialiased;
}

.Menu-btnGroup {
    list-style-type: none;
    padding: 0;
    margin: 12px 0 0 0;
}

.Menu-btnGroup-item {
    width: 100%;
    min-height: 20px;
    border-top: 1px solid @--color-black20;

    &:last-child {
        border-bottom: 1px solid @--color-black20;
    }
}

.Menu-btn {
    height: 44px;
    line-height: 44px;
    padding: 0;
    text-align: center;
    background: transparent;
    color: @--color-white40;
    border:none;
    text-transform: uppercase;
    font-size: 14px;
    -webkit-font-smoothing: subpixel-antialiased;

    &:hover {
        text-shadow: 0px 2px rgba( 0, 0, 0, .75 );
        background: @--color-black20;
    }
}

.Menu-indicator {
    margin: 12px 0 0 0;
    height: 24px;
    line-height: 24px;
    background: @--color-red;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    color: @--color-white;
}
.Menu-indicator--isActive {
    background: @--color-green;
}

.Menu-title {
    text-align: center;
    color: @--color-black40;
    text-transform: uppercase;
    padding: 26px 0 26px;
    margin: 20px 0 0 0;
    transition: transform .177s ease-out;

    &:hover {
        transform: rotate( 360deg );
    }
}

.Menu-titleTop {
    display:block;
    font-size: 15px;
    letter-spacing: -1px;
}
.Menu-titleBottom {
    display: block;
    font-size: 44px;
    line-height: 36px;
}
